.clients {
  padding-top: 94px;
  padding-bottom: 94px;

  &-list {
    @include flex(center, space-between);
  }

  &-list__item {
    @include flex(center, center);
  }
}

.clients-list__link {
  display: flex;
  width: 170px;
  height: 90px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--timing-duration) var(--timing-function);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.clients-list__icon {
  fill: var(--primary-icon-fill);
  transition: fill var(--timing-duration) var(--timing-function);

  margin: auto;

  .clients-list__link:hover &,
  .clients-list__link:focus & {
    fill: var(--accent-color);
  }
}
