.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clients-list__item {
  display: flex;
  justify-content: center;
  text-align: center;
}

.clients-list__link {
  display: flex;
  width: 170px;
  height: 90px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--timing-duration) var(--timing-function);
}

.clients-list__link:hover,
.clients-list__link:focus {
  border-color: var(--accent-color);
}

.clients-list__icon {
  fill: var(--primary-icon-fill);
  transition: fill var(--timing-duration) var(--timing-function);

  margin: auto;
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}
